<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TimeLight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TimeLight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <TimeLight.Properties.Settings>
      <setting name="Viewer" serializeAs="String">
        <value>notepad.exe</value>
      </setting>
      <setting name="Ledger" serializeAs="String">
        <value>Time Light.xml</value>
      </setting>
    </TimeLight.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <sources>
      <source name="Log" switchName="LogSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="eventListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="LogSwitch" value="Off" />
    </switches>
    <sharedListeners>
      <add name="eventListener" type="System.Diagnostics.EventLogTraceListener" initializeData="TimeLight" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="eventListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <applicationSettings>
    <TimeLight.Properties.Settings>
      <setting name="ViewLedger" serializeAs="String">
        <value>View Ledger</value>
      </setting>
      <setting name="Exit" serializeAs="String">
        <value>Exit</value>
      </setting>
      <setting name="NoActiveItem" serializeAs="String">
        <value>There is no active item</value>
      </setting>
      <setting name="ChangedWhileTiming" serializeAs="String">
        <value>The ledger has changed while timing.
It will be OVERWRITTEN when the timer is stopped.</value>
      </setting>
      <setting name="Reloaded" serializeAs="String">
        <value>Reloaded Ledger</value>
      </setting>
      <setting name="CreatedLedger" serializeAs="String">
        <value>An empty ledger has been created at {0}.
Please right-click Time Light and select "View Ledger", or open it in your favourite XML editor.</value>
      </setting>
      <setting name="NewLedger" serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;node&gt;
  &lt;leaf name="My Task"/&gt;
&lt;/node&gt;</value>
      </setting>
      <setting name="Error" serializeAs="String">
        <value>An error has occurred. If you believe this to be an application error, please report it to http://code.accursoft.com/time-light/issues/new.

</value>
      </setting>
      <setting name="CannotLoad" serializeAs="String">
        <value>The ledger has changed, but could not be loaded.
It will be OVERWRITTEN when the timer is next stopped.</value>
      </setting>
    </TimeLight.Properties.Settings>
  </applicationSettings>
</configuration>